body{
    background-color: rgb(173, 169, 169);
    font-family: fantasy, cursive, monospace;
    font-size: 25px;

}

ul{
    
    line-height: 40px;
}
#d1{
   line-height: 60px;
}
#d2{
    line-height: 60px;
}
#d3{
    line-height: 60px;
}
#d4{
    line-height: 60px;
}
#d5{
    line-height: 60px;
    text-decoration: none;
}
#minha-foto{
    display: block;
   border-radius: 50%;
   margin-left: auto;
  margin-right: auto;
}
div{
    background-color: rgb(66, 64, 64);
    padding: 15px;
    float: left;
    margin-left: 50px;
    border-collapse:separate;
    border-right-style:solid;
    border-right-width:10px;
}
.menu{
    
      color: rgb(0, 183, 255);
    
}
.con{
        background-color: rosybrown;
        padding: 10px;
        margin-bottom: 5px;
        padding-left: 5px;
        padding-right: 2px;
        border-right: 10px;
        margin-right: 85%;

    }
a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}