body{
    background-color: rgb(173, 169, 169);
    font-family: fantasy, cursive, monospace;
    font-size: 25px;

}
ul{
    line-height: 40px;
}
#d1{
    line-height: 60px;
}
#d2{
    line-height: 60px;
}
#d3{
    line-height: 60px;
}
#d4{
    line-height: 60px;
}
#d5{
    line-height: 60px;
}